* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
.max-width-wrapper {
  width: 100%;
  margin: auto;
}

.into-chunk {
  width: 50%;
  margin: auto;
}

p strong {
  color: rgb(6, 164, 46);
}